<div class='card'
     *ngIf='product'>
  <div class='card-header bold-text'>
    Product Detail : {{ product.productName}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4 bold-text'>Name :</div>
          <div class='col-md-8'>{{ product.productName }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4 bold-text'>Code :</div>
          <div class='col-md-8'>{{ product.productCode }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4 bold-text'>Description :</div>
          <div class='col-md-8'>{{ product.description }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4 bold-text'>Availability :</div>
          <div class='col-md-8'>{{product.available}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4 bold-text'>Price :</div>
          <div class='col-md-8'>{{product.price | currency:'INR':'symbol' }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4 bold-text'>Rating :</div>
          <div class='col-md-8'>
            <app-star-rating  [rating] =" product.starRating">
            </app-star-rating></div>
        </div>
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='product.imageUrl'
             [title]='product.productName'>
      </div>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-primary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>