<!-- <div style="text-align:center">
  <h1>
      Product Management System
  </h1>
</div>
<br>
<app-product-list></app-product-list>


<router-outlet></router-outlet>
 -->



<nav class='navbar navbar-expand navbar-dark bg-light'>
    <a class='navbar-brand'>{{ title }}</a>
    <ul class='nav active'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/']">Home</a></li>
      <br>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products']">Product List</a></li>
      <br>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/products/add']">Add Product</a></li>
    </ul>
</nav>
<br>
<div class='container'>
  <router-outlet></router-outlet>
</div>
