<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center title-banner" >
        <h1>Welcome to Product Management System</h1>
      </div>

      <div class="text-center">Developed by : Vimal Munjani</div>
      
      <div class="text-center">
        <a href="https://github.com/vimalmunjani/Product-Management-System">GitHub - @Product-Management-System</a>
      </div>

      <div class="text-center">
        <a href="https://github.com/vimalmunjani">GitHub - @vimalmunjani</a>
      </div>

    </div>
  </div>
</div>